# {{ansible_managed}}

[Unit]
Description=sh_exporter service
After=network.target
Wants=network.target

[Service]
ExecStart=/usr/bin/python2.7 {{ sh_exporter_install_dir }}/{{ sh_exporter_archive }}/sh_exporter.py {{ sh_exporter_service_config }}

Restart=always
RestartSec=20
TimeoutSec=300
User={{ sh_exporter_owner }}
Group={{ sh_exporter_group }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target